@use "/src/styles/fontParams.scss" as *;

.button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  @include button();
  display: flex;
  background-color: var(--color-green-bright);
  cursor: pointer;
  color: var(--color-white-full);

  &:hover {
    transition: background-color var(--trs), color var(--trs);
    background-color: var(--color-green-light);
    color: var(--color-primary-main);
    :first-child:before,
    :first-child:after {
      background-color: var(--color-green-bright);
    }
    :first-child {
      transform: rotate(180deg);
    }
  }

  &.modalOpened {
    background-color: var(--color-green-light);
    color: var(--color-green-bright);
  }
}

