.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-green-transp);
  backdrop-filter: blur(5px);
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--trs);

  .content {
    padding: 25px;
    background: var(--color-primary-main);
    border-radius: 10px;
    min-width: 30%;
  }
}
