@mixin title() {
  font-family: "Rubik";
  font-size: 1.8em;
  font-weight: 600;
}

@mixin subTitle() {
  font-family: "Rubik";
  font-size: 1.5em;
  font-weight: 400;
}

@mixin button() {
  font-family: "Rubik";
  font-size: 1.1em;
  font-weight: 400;
}

@mixin input() {
  font-family: "Roboto";
  font-size: 1em;
  font-weight: 400;
}
@mixin text() {
  font-family: "Roboto";
  font-size: 1.1rem;
  font-weight: 400;
}
