@use "./vars.scss";

$line: 2px solid var(--color-primary-main);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  @each $colorName, $colorValues in vars.$theme {
    @each $valueName, $value in $colorValues {
      --color-#{$colorName}-#{$valueName}: #{$value};
    }
  }
  --trs: #{vars.$trs};
  --line: #{vars.$line};
}
