$theme: (
  "black": (
    "semi": "rgba(0, 0, 0, 0.8)",
    "full": "#000000",
  ),
  "white": (
    "semi": "rgba(255, 255, 255, 0.8)",
    "full": "#ffffff",
  ),
  "primary": (
    "main": "#347B98",
    "grad":
      "linear-gradient(0deg, rgba(52,130,152,1) 0%, rgba(45,163,196,1) 100%)",
    "transp": "rgba(52, 124, 152, 0.8)",
  ),
  "secondary": (
    "main": "#E3F7D4",
  ),
  "green": (
    "bright": "#66B032",
    "transp": "rgb(102, 176, 50, 0.3)",
    "light": "#E3F7D4",
  ),
  "blue": (
    "dark": "#091534",
    "bright": "#0247FE",
  ),

  "grey": (
    "100": "#f5f5f5",
    "200": "#e5e5e5",
    "300": "#7a7a7a",
    "400": "#363636",
    "500": "#121212",
  ),
);

$trs: "200ms";
$line: "7px solid var(--color-primary-main)";
