.button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-family: "Rubik";
  text-transform: uppercase;
  background-color: var(--color-green-bright);
  cursor: pointer;
  color: var(--color-green-light);
  transition: background-color 150ms linear, color 150ms linear;
  font-weight: 600;
  &:hover {
		background-color: var(--color-green-light);
    color: var(--color-green-bright);
  }
	&.modalOpened {
		background-color: var(--color-green-light);
		color: var(--color-green-bright);
	}
}
