@use "/src/styles/fontParams.scss" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: var(--color-primary-main);
	background: var(--color-primary-grad);
  h1 {
    @include title;
    color: var(--color-blue-dark);
  }
}
