@use "/src/styles/fontParams.scss" as *;

.input {
  width: 100%;
  padding: 10px;
  border: 2px solid var(--color-green-bright);
  border-radius: 10px;
  color: var(--color-green-bright);
  outline: none;
  transition: border var(--trs);
	@include input();
  background: transparent;

  &::placeholder {
    color: var(--color-green-bright);
  }

  &:focus {
    border: 2px solid var(--color-green-light);
    color: var(--color-green-light);
    &::placeholder {
      // color: var(--color-green-light);
    }
  }

  // &:not(:last-child) {
  //   margin-bottom: 15px;
  // }
}
