@use "/src/styles/fontParams.scss" as *;

.taskList {
  h2 {
    @include subTitle();
    background: var(--color-blue-dark);
    color: var(--color-green-bright);
    font-weight: 600;
    text-align: center;
    line-height: 2;
    padding: 0 5px;
    transition: all var(--trs);
  }
  .list {
		height: calc(100vh - 90px);
		overflow: auto;

    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }
}
