@use "/src/styles/fontParams.scss" as *;

.buttonIcon {
  cursor: pointer;
  background-color: transparent;
  border: none;
  width: 30px;
  perspective: 120px;

  img {
    display: block;
    width: 100%;
  }

  &:hover {
    .del {
      animation: delRotate 700ms infinite linear;
    }
    .edit {
      animation: editRotate 500ms infinite linear;
    }
  }
}

@keyframes editRotate {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-360deg);
  }
}
@keyframes delRotate {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}
